.▶homepage
{
position:absolute;
background-color:#a7c7e7;
height:1608px;
width:1440px;
padding:0px;
}
.work
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
line-height:auto;
border-style:hidden;
outline:none;
left:861px;
top:38px;
position:absolute;
width:57px;
}
.aboutme
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:971px;
top:38px;
width:104px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.resume
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:1128px;
top:38px;
width:86px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.contact
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:1266px;
top:38px;
width:85px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.img_78651
{
height:347px;
width:329px;
border-radius:180px;
left:72px;
top:334px;
position:absolute;
}
.iphone12render
{
height:484px;
width:266px;
left:510px;
top:719px;
position:absolute;
}
.iphone12render_2
{
height:484px;
width:266px;
left:808px;
top:719px;
position:absolute;
}
.iphone12render_3
{
height:484px;
width:266px;
left:1098px;
top:719px;
position:absolute;
}
.usdawebsiteredesign
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
left:870px;
top:1186px;
width:149px;
height:58px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.centeronhalstedwebsiteredesign
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
left:1107px;
top:1186px;
width:257px;
height:58px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame5
{
background-color:#8aa4be;
height:49px;
width:217px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:20px;
padding:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:1286px;
left:832px;
}
.viewcasestudy
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
align-self:flex-start;
left:10px;
top:10px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:197px;
display:flex;
}
.frame6
{
background-color:#8aa4be;
height:49px;
width:217px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:20px;
padding:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:1286px;
left:1137px;
}
.viewcasestudy_2
{
color:#fffdfd;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
align-self:flex-start;
left:10px;
top:10px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:197px;
display:flex;
}
.frame4
{
background-color:#8aa4be;
height:49px;
width:217px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:20px;
padding:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:1286px;
left:539px;
}
.viewcasestudy_3
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
align-self:flex-start;
left:10px;
top:10px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:197px;
display:flex;
}
.userexperiencedesigner
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:Playfair Display;
left:816px;
top:395px;
width:327px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.hi,i’m
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:Playfair Display;
left:588px;
top:276px;
width:106px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.iamafreelanceux-uidesigner.ispecializeincraftinguserexperiencesanddesignsystemsforsoftware,webandmobileproducts.ienjoysolvinguserproblemsbydesigningintuitiveandfunctionalsolutionsthatarecenteredaroundpeople'sneeds.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:549px;
top:537px;
width:786px;
height:128px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.work2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:1009px;
top:1533px;
width:65px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.aboutme2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:1119px;
top:1533px;
width:104px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.contact2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Playfair Display;
left:1263px;
top:1533px;
width:85px;
height:32px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.odysseytravelappdesign
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:22px;
font-family:Playfair Display;
left:561px;
top:1186px;
width:154px;
height:58px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line1
{
width:1440.005615234375px;
transform:rotate(-1deg);
border:0.5px solid #5c98d4;
top:1492px;
left:0px;
position:absolute;
}
.michaeleboreime
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:44px;
font-family:Anek Bangla;
left:682px;
top:311px;
width:454px;
height:52px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo-no-background1
{
height:38px;
width:40px;
left:103px;
top:38px;
position:absolute;
}
